<%= render "monitorings/shared/header" %>
<%= render "monitorings/shared/header-margin" %>

<div class="monitor-lists">
  <div class="monitor-list">
    <div class="monitor-list-upper">
      <div class="monitor-list__date">2023/10/9</div>
      <div class="monitor-list__option"></div>
    </div>
    <div class="monitor-list-content">
      <div class="monitor-list-item">状況</div>
      <div class="monitor-list-text">AWSのデプロイ作業をやっている</div>
    </div>
    <div class="monitor-list-content">
      <div class="monitor-list-item">思考</div>
      <div class="monitor-list-text">
        退屈。頑張って今日中にすべて終わらせたいが、夜も遅いしやる気がない。<br>
        手順が長く、そのうえ考える部分はなく、つまらないし、楽しくない。……
      </div>
    </div>
    <div class="monitor-list-content">
      <div class="monitor-list-item">感情</div>
      <div class="monitor-list-text">倦怠感、怒り、虚無感</div>
    </div>
  </div>
  <div class="monitor-list">
    <div class="monitor-list-upper">
      <div class="monitor-list__date">2023/10/8</div>
      <div class="monitor-list__option"></div>
    </div>
    <div class="monitor-list-content">
      <div class="monitor-list-item">状況</div>
      <div class="monitor-list-text"></div>
    </div>
    <div class="monitor-list-content">
      <div class="monitor-list-item">思考</div>
      <div class="monitor-list-text"></div>
    </div>
    <div class="monitor-list-content">
      <div class="monitor-list-item">感情</div>
      <div class="monitor-list-text"></div>
    </div>
  </div>
</div>