
<div class="header">
  <div class="header-main">
    <div class="header-title">自分でできる心理療法</div>
    <div class="navbar">
      <div class="navbar__lists">エクササイズ</div>
    </div>
  </div>
  <div class="header-user">
    <div class="user-login">ログイン</div>
    <div class="user-reg">新規登録</div>
  </div>
</div>

<div class="hero">
  <img class="hero-image" src="image/hero.jpg">
  <div class="hero-info">
    <div class="hero-info__title">自分でできる心理療法</div>
    <div class="hero-info__message">
      認知行動療法による<br>
      ストレスとの上手なつきあい方
    </div>
  </div>
</div>

<div class="main">
  <div class="main-contents">
    <div class="main-contents__square"></div>
    <div class="main-contents__title"></div>
  </div>
  <div class="main-monitor">
    <div class="main-monitor__title"></div>
    <div class="main-monitor__info"></div>
    <div class="main-monitor__btn"></div>
  </div>
</div>

<div class="footer">
  <div class="footer-title"></div>
</div>